@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body {
  font-family: 'Livvic', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.game-board {
  margin: auto;
}

.game-cell {
  height: 150px;
  width: 150px;
  border: 1px grey dashed;
  background-size: contain;
}

.playerNav {
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.playerNav p {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 100px;
  line-height: 100px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-color: lightgrey;


  /* border: green thin solid; */
}

.playerNav img {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

#characterPage {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  text-align: center;
}

.characterchooser {
  width: 30%;
}

#begin {
  margin: 50px 50px;
  background-color: grey;
  text-align: center;
}

#gameoverScreen {
  height: 100%;
  width: 100%;
  background-color: blue;
  position: absolute;
  left: 2000px;
  z-index: 100;
  text-align: center;
  z-index: 99;
  top: 0;
}

#characterPage table {
  width: 70%;
  margin: auto;
  text-align: center;
}


.garyChosen {
  display: none;
  width: 33%;
  margin: auto;
}

.ashChosen {
  display: none;
  width: 33%;
  margin: auto;
}

.begin {
  margin: 0px 400px;
}

.hidden {
  display: none;
}
