@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body {
  font-family: 'Livvic', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.game-board {
  margin: auto;
}

.game-cell {
  height: 150px;
  width: 150px;
  border: 1px grey dashed;
}

.playerOne {
  background-image: url('../images/squirtle.png');
  background-size: contain;
}
.playerTwo {
  background-image: url('../images/charmander.png');
  background-size: contain;
}

.playerNav {
  height: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.playerNav p {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 100px;
  line-height: 100px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-color: lightgrey;


  /* border: green thin solid; */
}

.playerNav img {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}
